

* {
	margin-left: auto; 
    margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	background-color: #14bdac; 
}

h1 {
	height: 40px;
	text-align: center;
	color: #FFFFFF;
	background-color: black;
	padding-bottom: 10px;
	padding-top: 10px;
}

h1:hover {
	color: #14bdac;
}

button{
	display: flex;
    align-items: center;
    justify-content: center;
	padding-right: 60px;
    padding-left: 60px;
	padding-bottom: 60px;
	padding-top: 60px;
	font-size: 60px;
	height: 60px;
	width: 60px;
	border-color: #70757a;
	border-width: 5px;
}


#\30 {
	border-style: none solid solid none;
}

#\31 {
	border-style: none solid solid solid;
}

#\32 {
	border-style: none none solid solid;
}

#\33 {
	border-style: solid solid solid none;
}

#\34 {
	border-style: solid solid solid solid;
}

#\35 {
	border-style: solid none solid solid;
}

#\36 {
	border-style: solid solid none none;
}

#\37 {
	border-style: solid solid none solid;
}

#\38 {
	border-style: solid none none solid;
}

main {
	display: flex;
	flex-direction: column;            
	flex-wrap: wrap; 
	justify-content: center;
	margin-left: 80px;
	margin-right: 80px;
}

main > div {
	display: flex;
	flex-direction: row;            
	flex-wrap: nowrap; 
}

main > div:first-child {
	height: 115px;
	margin-bottom: 10px;
	margin-top: 10px;
}

main > div > div {
	display: flex;
    align-items: center;
    justify-content: center;
	height: 60px;
	width: 60px;
	border-color: #70757a;
	border-width: 5px;
	border-style: solid;
	padding-right: 10px;
    padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-right: 20px;
    margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}

main > div > div:first-child {
	border-style: outset;
	border-width: 7px;
}

main > div:last-child {
	height: 70px;
}

footer {
	height: 40px;
	color: #FFFFFF;
	background-color: black;
}

